requests
pandas
yfinance
numpy
beautifulsoup4
scipy
matplotlib
cvxpy
scikit-learn
arch
backtesting
transformers
torch
fredapi
configparser
prophet
statsmodels
pytrends
upstox-python-sdk
streamlit
yfinance
pandas
numpy
beautifulsoup4
requests
scikit-learn
transformers
torch
textblob
nltk
fpdf
plotly
cvxpy
feedparser
snscrape